/* Start Global Vars */
:root {
  --mainColor: #10cab7;
  --testColor: #ca83b5;
  --lightBgColor: #fafafa;
  --secondaryColor: #2c4755;
  --sectionLessPadding: 50px;
  --sectionMorePadding: 70px;
  --lightFontColor: #777;
}
/* End Global Vars */

/**************** Start Global Styling ************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #575757;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.show {
  display: block !important;
}

.special-heading {
  color: #ebeced;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  margin: 0;
  letter-spacing: -5px;
}

.special-heading + p {
  text-align: center;
  font-size: 18px;
  margin-top: -35px;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 70px;
  }

  .special-heading + p {
    margin-top: -25px;
  }
}
/**************** End Global Styling ************/

/***************** Start Nav ******************/
nav {
  background-color: var(--lightBgColor);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .container .logo img {
  width: 50px;
}

nav .container .menu {
  position: relative;
}

nav .container .menu .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  cursor: pointer;
}

nav .container .menu .icon > span {
  width: 100%;
  background-color: #333;
  margin-bottom: 7px;
  height: 3px;
}

nav .container .menu .icon > span:nth-child(2) {
  width: 60%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

nav .container .menu:hover .icon span {
  width: 100% !important;
}

nav .container .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--lightBgColor);
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 10px + 10px);
  display: none;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

nav .container .menu ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #333;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav .container .menu ul li a:hover {
  padding-left: 25px;
}

nav .container .menu ul li:not(li:last-child) a {
  border-bottom: 2px solid #ccc;
}

nav .container .menu ul::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -20px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--lightBgColor) transparent;
}

/***************** End Nav ******************/

/********************* Start Intro ***********/
.intro {
  background-image: url("../images/background.webp");
  background-size: cover;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .info {
  text-align: center;
  width: 400px;
}

.intro .info h1 {
  margin-bottom: 20px;
  color: var(--mainColor);
  font-weight: 800;
  font-size: 37px;
}

.intro .info p {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  line-height: 1.6em;
  letter-spacing: 1.1px;
}
/********************* End Intro ***********/

/********************* Start Feature ***********/
.features {
  background-color: var(--lightBgColor);
  padding-top: var(--sectionLessPadding);
  padding-bottom: var(--sectionMorePadding);
}

.features .container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}

.features .container .grid .col {
  line-height: 1.5em;
  text-align: center;
}

.features .container .grid .col i {
  color: var(--mainColor);
}

.features .container .grid .col h3 {
  font-weight: 800;
}

.features .container .grid .col p {
  line-height: 1.6;
  font-size: 17px;
  color: var(--lightFontColor);
}
/********************* End Features ***********/

/**************  Start Services *******************/
.services .services-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* width: 90%; */
  margin: auto;
  gap: 20px;
}

.services .services-container .col .service-element {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .services .services-container .col .service-element {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-container .col .service-element i {
  color: var(--mainColor);
  flex-basis: 70px;
}

.services .services-container .col .service-element .info {
  flex: 1;
}

.services .services-container .col .service-element .info h3 {
  margin: 0;
  color: #1f2021;
}

.services .services-container .col .service-element .info p {
  line-height: 1.5em;
  color: #777;
  margin-top: 30px;
}

.services .services-container .col:last-child {
  position: relative;
  align-self: center;
  justify-self: flex-end;
}

.services .services-container .col:last-child::after {
  content: "";
  width: 100px;
  height: 500px;
  background-color: var(--secondaryColor);
  position: absolute;
  top: -50px;
  right: -25px;
  z-index: -1;
}

@media (max-width: 767px) {
  .services .services-container .col:last-child {
    align-self: center;
    position: relative;
    justify-self: center;
  }

  .services .services-container .col:last-child::after {
    display: none;
  }
}
/**************  End Services *******************/

/***************** Start Portfolio **************/
.portfolio {
  padding-top: var(--sectionLessPadding);
  padding-bottom: var(--sectionMorePadding);
  background-color: #fafafa;
}

.portfolio .cards {
  padding-top: 40px;
  padding-bottom: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.portfolio .cards .card {
  background-color: #ebeced;
}

.portfolio .cards .card img {
  width: 100%;
  display: block;
}

.portfolio .cards .card .info {
  padding: 20px;
}

.portfolio .cards .card .info h3 {
  margin-top: 0;
}

.portfolio .cards .card .info p {
  line-height: 1.6;
}
/***************** End Portfolio **************/

/******************* Start About **************/
.about {
  padding-top: var(--sectionLessPadding);
  padding-bottom: var(--sectionMorePadding);
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 991px) {
  .about .row {
    flex-direction: column;
    justify-content: center;
  }

  .about .row .info {
    text-align: center;
  }
}

.about .row .image {
  min-width: 350px;
  max-width: 350px;
  position: relative;
}

.about .row .image::before {
  content: "";
  width: 100px;
  height: calc(350px + 80px);
  background-color: #ebeced;
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .row .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 72%;
  border-left: 80px solid var(--mainColor);
  border-bottom: 70px solid var(--mainColor);
  top: -32px;
  right: -151px;
  z-index: -1;
}

@media (max-width: 767px) {
  .about .row .image::after,
  .about .row .image::before {
    display: none;
  }
}

.about .row .image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .about .row .image {
    min-width: unset;
    max-width: unset;
  }
}

.about .row .info {
  flex: 1;
  padding-left: 170px;
}

@media (max-width: 991px) {
  .about .row .info {
    padding-left: 0;
  }
}

.about .row .info p:first-of-type {
  line-height: 2;
  font-weight: bold;
  color: #1f2021;
}

.about .row .info hr {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--mainColor);
  margin: 40px 0;
  width: 50%;
  display: inline-block;
}

.about .row .info p:last-of-type {
  line-height: 2;
  color: var(--lightFontColor);
}
/******************* End About **************/

/******************* Start Contact **************/
.contact {
  padding-top: var(--sectionLessPadding);
  padding-bottom: var(--sectionMorePadding);
  background-color: var(--lightBgColor);
}

.contact .info {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact .info h3 {
  color: var(--secondaryColor);
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .contact .info {
    text-align: center;
  }

  .contact .info h3 {
    font-size: 25px;
    text-align: center;
  }
}

.contact .info .email {
  color: var(--mainColor);
  padding-left: 50px;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -1px;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .contact .info .email {
    font-size: 20px;
    padding-left: 0;
    text-align: center;
  }
}

.contact .info .social {
  padding-left: 100px;
  margin-right: 30px;
  display: inline-block;
  color: var(--secondaryColor);
}

@media (max-width: 767px) {
  .contact .info .social {
    font-size: 20px;
    padding-left: 0;
    text-align: center;
    display: block;
  }
}

.contact .info i {
  margin-right: 15px;
  font-size: 25px;
  color: var(--secondaryColor);
}

/******************* End Contact **************/

/******************* Start Footer **************/
footer {
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

footer span {
  color: var(--mainColor);
}

@media (max-width: 767px) {
  footer p {
    font-size: 14px;
  }
}
/******************* End Footer **************/
